{{define "title"}}Rules{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container grid-lg wrapper">

        <h2>Submission Rules</h2>
        <p>It is important to think of these more as walkthroughs than simple solution submissions. Essentially, another user should be able to open your solution and understand how you got there.</p>
        <ol>
            <li>Solutions should include text, doc or docx, md, pdf, etc. files detailing how you solved the crackme. Solutions can contain an executable file but should not exclusively contain an executable file.</li>
            <li>Solutions should not be compressed with a password. Our server handles the compression and passwords. Compressing is okay if you want to submit multiple files, but do not make it password-protected.</li>
            <li>Solutions should contain more than just a flag, password, serial, binary, etc. They should contain detailed information about how you got to a solution.</li>
            <li>Check the solution to ensure it adequately solves the crackme. For example, if a crackme requests a keygen and you submit a detailed solution and executable that serves as the keygen, please ensure the keygen produces valid keys.</li>
            <li>While external links to blog posts or websites are allowed, we would prefer if most of the solution information was self-contained. If you'd like to copy and paste some of the stuff from your blog/website into your solution and leave a link back to your blog/website, you are more than welcome to do so.</li>
            <li>Be careful to read the rules for any given crackme. Some allow patching, and others do not. If patching is permitted, please do not exclusively upload a patched binary. We would still like information on where and why you patched the binary. If patching is not allowed and your solution is a patched executable, we will reject the solution. Unless otherwise stated or patching is necessary, assume that a crackme does not allow patching.</li>
            <li>Because this is an English-speaking site and user base, we request that all solutions be written in English, even if you have to use Google Translate. We do not and will not shame anyone for their level of English.</li>
            <li>There is room for interpretation on the level of detail required by a solution based on the difficulty of the crackme. E.g., A 1.0 difficulty crackme with a password, key, serial, etc., in plaintext will require less information to be accepted than a 6.0 difficulty crackeme that uses anti-debugging, virtualization, custom packer, etc. So please provide a level of detail befitting the difficulty of the crackme. Even in the easy crackmes your thought process is still valuable, so we would like to see it.</li>
        </ol>
</div>
{{template "footer" .}}

{{end}}
{{define "foot"}}{{end}}